<div class="board">

  <div class="digits">8</div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>

  <div class="digits">7</div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>

  <div class="digits">6</div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>

  <div class="digits">5</div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>

  <div class="digits">4</div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>

  <div class="digits">3</div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>

  <div class="digits">2</div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>

  <div class="digits">1</div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>
  <div><app-black-square></app-black-square></div>
  <div><app-white-square></app-white-square></div>

  <div></div>
  <div class="letters">a</div>
  <div class="letters">b</div>
  <div class="letters">c</div>
  <div class="letters">d</div>
  <div class="letters">e</div>
  <div class="letters">f</div>
  <div class="letters">g</div>
  <div class="letters">h</div>
</div>
